{{ $ := .root }}
{{ $page := .page }}

<div class="row">
  <div id="fb-root"></div>
  <script async defer crossorigin="anonymous"
    src="https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v6.0&appId=250827476077308&autoLogAppEvents=1"></script>

  {{ with $page.Title }}
  <div class="col-12 text-center section-heading">

    {{ with $page.Title }}<h1>{{ . | markdownify | emojify }}</h1>{{ end }}
    {{ with $page.Params.subtitle }}<p>{{ . | markdownify | emojify }}</p>{{ end }}

  </div>
  {{ end }}

  {{ with $page.Content }}
  <div class="col-12">
    {{ . | markdownify }}
  </div>
  {{ end }}

  <!-- LightWidget WIDGET -->
  <script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script><iframe
    src="//lightwidget.com/widgets/aa18c2f2a28359949c00c3131b768fa9.html" scrolling="no" allowtransparency="true"
    class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe>
</div>